<html>
<body>
	<footer th:fragment="footer" class="footer">
		<div class="container-fluid" style="margin-top:10px">
			<p class="text-muted" align="center">
				<label class="control-label" for="findlunch"
					th:text="|#{label.findlunch} 2017|">findlunch</label> - <a
					th:href="@{/terms}" th:text="#{label.terms}">terms</a> - <a
					th:href="@{/privacy}" th:text="#{label.privacy}">privacy</a> - <a
					th:href="@{/faq_restaurant}" th:text="#{label.faq_restaurant}">faq_restaurant</a> - <a
					th:href="@{/about_findlunch}" th:text="#{label.about_findlunch}">about</a>
			</p>
		</div>
	</footer>
</body>
</html>