<!DOCTYPE html>
<html>
<head th:fragment="includes">
	<meta charset="UTF-8" />
	<title th:text="#{title}">findLunch</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datetimepicker.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/sticky-footer.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/jasny-bootstrap.css}" />
	<script type="text/javascript" th:src="@{/js/jquery-1.12.3.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/jasny-bootstrap.js}"></script>
	<script type="text/javascript" th:src="@{/js/moment-with-locales.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
	<script src="https://www.google.com/recaptcha/api.js?hl=de"></script>
	
</head>
<body onload="doOnStart();">

</body>
</html>