<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title></title>
</head>
<body>
	<nav th:fragment="navbar" class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" th:href="@{/home}"><img
					th:src="@{/images/findLunch.png}" height="25" /></a>
			</div>
			<div class="navbar-collapse collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li role="presentation"
						th:class="${#httpServletRequest.servletPath}=='/home'? active"><a
						th:href="@{/home}">Home</a></li>				
					<li class="dropdown" sec:authorize="isAuthenticated()"><a
						th:text="#{menu.label.offer}" 
						href="#" class="dropdown-toggle" data-toggle="dropdown"
						role="button" aria-haspopup="true" aria-expanded="false">
						<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li th:class="${#httpServletRequest.servletPath}=='/offer'? active">
								<a th:href="@{/offer}" th:text="#{menu.label.offer}" role="menuitem">offer</a>
							</li>
							<li th:class="${#httpServletRequest.servletPath}=='/coursetypes'? active">
								<a th:href="@{/coursetype}" th:text="#{menu.label.couse_types}" role="menuitem">course_types</a>
							</li>
						</ul>
					</li>
					<li class="dropdown" sec:authorize="isAuthenticated()"><a
						th:text="#{menu.label.reservations}" 
						href="#" class="dropdown-toggle" data-toggle="dropdown"
						role="button" aria-haspopup="true" aria-expanded="false">
						<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li sec:authorize="isAuthenticated()"
								th:class="${#httpServletRequest.servletPath}=='/reservations'? active">
								<a th:href="@{/reservations}" th:text="#{menu.label.reservationNew}">Reservations</a></li>
							<li th:class="${#httpServletRequest.servletPath}=='/reservationOverview'? active">
								<a th:href="@{/reservationOverview}" th:text="#{menu.label.reservationOverview}" role="menuitem">Overview</a>
							</li>
							<li th:class="${#httpServletRequest.servletPath}=='/reservationStatistik'? active">
								<a th:href="@{/reservationStatistik}" th:text="#{menu.label.reservationStatistik}" role="menuitem">Status</a>
							</li>
						</ul>
					</li>	
					<li sec:authorize="hasAuthority('Anbieter')"
						th:class="${#httpServletRequest.servletPath}=='/bill'? active"><a
						th:href="@{/bill}" th:text="#{menu.label.bill}">Bill</a></li>
					<li sec:authorize="hasAuthority('Betreiber')"
						th:class="${#httpServletRequest.servletPath}=='/booking'? active"><a
						th:href="@{/booking}" th:text="#{menu.label.bill}">Bill</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown" sec:authorize="isAuthenticated()"><a
						href="#" class="dropdown-toggle" data-toggle="dropdown"
						role="button" aria-haspopup="true" aria-expanded="false"
						sec:authentication="name">Dropdown <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li>
								<a th:text="#{menu.label.edit_account}" href="/restaurant/edit"
								role="menuitem">Edit</a>
							</li>
							<li>
								<a th:text="#{menu.label.help}" href="/faq_restaurant"
								role="menuitem">Help</a>
							</li>
							<li>
								<a th:text="#{menu.label.qr}" href="/restaurant/qrCode"
								role="menuitem">qrCode</a>
							</li>
							<li>
								<!-- When the CSRF-protection is enabled we have to send the logout request
									 through POST together with the token. -->
								<!-- See: https://docs.spring.io/spring-security/site/docs/current/reference/html/csrf.html#csrf-logout
									 for further information. -->
								<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
									<input type="submit" value="Logout"/>
								</form>
								<a th:text="#{menu.label.logout}" href="javascript:document.logoutForm.submit()"
								   role="menuitem"> Logout</a>
							</li>
						</ul></li>
					<li sec:authorize="isAnonymous()"
						th:class="${#httpServletRequest.servletPath}=='/register'? active"><a
						th:href="@{/register}"><span class="glyphicon glyphicon-user"></span>
							<span class="control-label" for="findlunch"
							th:text="#{menu.label.register}">register</span></a></li>
					<li sec:authorize="isAnonymous()"
						th:class="${#httpServletRequest.servletPath}=='/login'? active"><a
						th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span>
							<span class="control-label" for="findlunch"
							th:text="#{menu.label.login}">login</span></a></li>
				</ul>
			</div>
		</div>
	</nav>


</body>
</html>