<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: includes"></head>
<body>
	<div th:replace="fragments/navigation :: navbar"></div>
	
	<div style="margin-left: 25px; margin-right: 25px;">
		
		<div th:if="${resetPassword}==null">
		<h1>
			<span th:text="#{resetpassword.label.title}" th:remove="tag">title</span>
			<small th:text="#{label.required}">Subtitle</small>
		</h1>
		
		<form th:object="${user}" th:action="@{/resetpassword}" method="post" action="" >
		<table class="table">
			<tbody>
					<tr>
						<td><label class="control-label" for="username"
							th:text="#{login.label.username}">username</label>*<br /> 
						</td>
						<td style="width: 15px"><span style="padding-top: 7px"
							class="glyphicon glyphicon-question-sign" data-placement="left"
							data-toggle="tooltip" th:title="#{register.tooltip.username}"></span>
						</td>
						
						<td><input type="text" th:field="${user.username}"
							class="form-control" id="username"
							th:placeholder="|#{login.label.username} #{login.label.username2}|" />
							<div th:if="${#fields.hasErrors('${user.username}')}? has-error"
								class="alert alert-danger" role="alert"
								th:errors="${user.username}"></div></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td>
						<div class="form-actions">
								<button type="submit" class="btn btn-success"
									name="resetUserPassword" th:text="#{resetpassword.button.getMail}">save</button>
								<button type="submit" class="btn btn-danger" name="resetUserPasswordcancel"
									th:text="#{button.cancel}">cancel</button>
							</div>
						</td>
					</tr>
			</tbody>
		</table>
		</form>
		</div>
		
		<div th:if="${resetPassword}!=null">
		<h1 >
			<span th:text="#{offerDetail.label.add}" th:remove="tag">title</span>
			<small th:text="#{label.required}">Subtitle</small>
		</h1>
		<form th:object="${user}" th:action="@{/resetpassword/{token}(token=${resetPassword.token})}" method="post" action="" >
			<table class="table">
				<tbody>
					<input type="hidden" th:field="${user.id}"/>
					<tr>
						<td><label class="control-label" for="username"
							th:text="#{login.label.username}">username</label>*<br /> <label
							class="control-label" for="username2"
							th:text="#{login.label.username2}">username2</label></td>
					<td style="width: 15px"><span style="padding-top: 7px"
							class="glyphicon glyphicon-question-sign" data-placement="left"
							data-toggle="tooltip" th:title="#{register.tooltip.username}"></span>
						</td>
						<td><input type="text" th:field="${user.username}"
							class="form-control" id="username"
							th:placeholder="|#{login.label.username} #{login.label.username2}|" readonly="true"/>
							<div th:if="${#fields.hasErrors('${user.username}')}? has-error"
								class="alert alert-danger" role="alert"
								th:errors="${user.username}"></div></td>
					</tr>
					<tr>
						<td><label class="control-label" for="password"
							th:text="#{login.label.password}">password</label>*</td>
						<td style="width: 15px"><span style="padding-top: 7px"
							class="glyphicon glyphicon-question-sign" data-placement="left"
							data-toggle="tooltip" th:title="#{register.tooltip.password}"></span>
						</td>
						<td><input type="password" th:field="${user.password}"
							class="form-control" id="password"
							th:placeholder="#{login.label.password}" />
							<div th:if="${#fields.hasErrors('${user.password}')}? has-error"
								class="alert alert-danger" role="alert"
								th:errors="${user.password}"></div></td>
					</tr>
					<tr>
						<td><label class="control-label" for="passwordconfirm"
							th:text="#{register.label.passwordconfirm}">passwordconfirm</label>*</td>
							<td style="width: 15px"><span style="padding-top: 7px"
							class="glyphicon glyphicon-question-sign" data-placement="left"
							data-toggle="tooltip" th:title="#{register.tooltip.passwordConfirm}"></span>
						</td>
						<td><input type="password" th:field="${user.passwordconfirm}"
							class="form-control" id="passwordconfirm"
							th:placeholder="#{login.label.password}" /></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td>
							<div class="form-actions">
								<button type="submit" class="btn btn-success"
									name="saveRegister" th:text="#{resetpassword.button.reset}">save</button>
								<button type="submit" class="btn btn-danger" name="cancel"
									th:text="#{button.cancel}">cancel</button>
							</div>
						</td>
					</tr>

				</tbody>
			</table>
			</form>
		</div>
	</div>
	
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>