<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: includes"></head>
<body>

	<div th:replace="fragments/navigation :: navbar"></div>
	<div style="margin-left: 25px; margin-right: 25px;">
		<h1 th:text="#{reservations.label.new}">daily bussiness</h1>
		
		<div th:if="${param.success}" class="alert alert-success"
			th:text="#{success.reservations.confirmed}" role="alert">success.offer.confirmed</div>
		<div th:if="${param.selectReservation}" class="alert alert-danger"
			role="alert" th:text="#{invalid.selectReservation}">invalid.offerId</div>
		<div th:if="${param.selectReservationReject}" class="alert alert-danger"
			role="alert" th:text="#{invalid.selectReservationReject}">invalid.offerId</div>
		<div th:if="${param.successReject}" class="alert alert-success"
			th:text="#{success.reservations.rejected}" role="alert">success.offer.rejected</div>
		<!-- <br />  -->
		<h2 th:text="#{reservations.label.normal}">normal reservations</h2>
		<input type="text" id="searchReservationTable"
			th:placeholder="#{reservations.placeholder.search}"
			class="form-control input-lg"></input>
		<!-- <br />  -->
		<form action="#" th:object="${wrapper}" method="post">
		<div style="height: 100%; overflow: auto;">
			<table class="table table-hover" id="reservationTable">
				<thead>
					<tr>
						<th th:text="#{reservations.label.oderId}">Id</th>
						<th th:text="#{reservations.label.customername}">name</th>
						<th th:text="#{reservations.label.datetime}">date with time</th>
						<th th:text="#{reservations.label.price}">price</th>
						<th th:text="#{reservations.label.donation}">customer donation</th>
						<th th:text="#{reservations.label.priceWithDonation}">price included with Donation</th>
						<th th:text="#{reservations.label.collectTime}">Customer Collect Time</th>
						<!-- <th th:text="#{reservations.label.confirmed}">finished reservation</th> -->
						<!-- <th th:text="#{reservations.label.isfree}">free reservation</th> -->
						<!-- <th th:text="#{reservations.label.choice}">reservation selection</th> -->
						<th th:text="#{reservations.label.details}">reservation details</th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="reservation, stat: *{reservations}">				
						<div th:switch="${reservation.isUsedPoints()}">
							<div th:case="false">
								<td th:text="${reservation.getReservationNumber()}"></td>
								<td th:text="${reservation.getUser().getUsername()}"></td>
								<td th:text="${#dates.format(reservation.timestampReceived, 'HH:mm')}"></td> 
								<td><span th:text="${#numbers.formatDecimal(reservation.getTotalPrice(), 1, 'POINT', 2, 'COMMA')}"> </span> &euro;</td>
								<td><span th:text="${#numbers.formatDecimal(reservation.getDonation(), 1, 'POINT', 2, 'COMMA')}"> </span> &euro;</td>
								<td><span th:text="${#numbers.formatDecimal(reservation.getDonation() + reservation.getTotalPrice(), 1, 'POINT', 2, 'COMMA')}"> </span> &euro;</td>
								<td th:text="${#dates.format(reservation.collectTime, 'HH:mm')}"></td> 
								<!-- <td th:text="${reservation.isConfirmed()}"></td> -->
								<!-- <td th:text="${reservation.isUsedPoints()}" ></td> -->
								<td>
									<input type="hidden" th:field="*{reservations[__${stat.index}__].id}" />
									<input type="hidden" th:field="*{reservations[__${stat.index}__].rejected}" />
									<input type="hidden" th:field="*{reservations[__${stat.index}__].donation}"/>
									<input type="hidden" th:field="*{reservations[__${stat.index}__].totalPrice}"/>
									<input type="hidden" th:field="*{reservations[__${stat.index}__].usedPoints}"/>
									<button type="button" class="btn btn-success" th:onclick="'javascript:openReservationModal(\''+*{reservations[__${stat.index}__].id}+'\');'">
										<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
									</button>
									<button type="button" class="btn btn-success" th:onclick="'javascript:openStatusConfirmModal(\''+*{reservations[__${stat.index}__].id}+'\');'">
										<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
									</button>
									<button type="button" class="btn btn-success" th:onclick="'javascript:openStatusRejectModal(\''+*{reservations[__${stat.index}__].id}+'\');'">
										<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
									</button>
								</td>	
							</div>
							 <div th:case="true">
							<input type="hidden" th:field="*{reservations[__${stat.index}__].id}" /> 
							<input type="hidden" th:field="*{reservations[__${stat.index}__].confirmed}" />
							<input type="hidden" th:field="*{reservations[__${stat.index}__].rejected}" />  
							<input type="hidden" th:field="*{reservations[__${stat.index}__].donation}"/>
							<input type="hidden" th:field="*{reservations[__${stat.index}__].totalPrice}"/>
							<input type="hidden" th:field="*{reservations[__${stat.index}__].usedPoints}"/>
						</div>
						
						</div>
					</tr>
				</tbody>
			</table>
			</div>
			<input type="hidden"
				th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" />
			
			<div id="modalHolder">
		
			</div>
		</form>
		
		<br />
		
		<h2 th:text="#{reservations.label.free}">free reservations</h2>
		<input type="text" id="searchReservationTable2"
			th:placeholder="#{reservations.placeholder.search}"
			class="form-control input-lg"></input>
		<br/>
		<form action="#" th:object="${wrapper}" method="post">
		<div style="height: 100%; overflow: auto;">
			<table class="table table-hover" id="reservationTable2">
				<thead>
					<tr>
						<th th:text="#{reservations.label.oderId}">Id</th>
						<th th:text="#{reservations.label.customername}">name</th>
						<th th:text="#{reservations.label.datetime}">date with time</th>
						<th th:text="#{reservations.label.donation}">customer donation</th>
						<th th:text="#{reservations.label.priceWithDonation}">price included with Donation</th>
						<th th:text="#{reservations.label.collectTime}">Customer Collect Time</th>
						<th th:text="#{reservations.label.details}">reservation details</th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="reservation, stat: *{reservations}">				
						<div th:switch="${reservation.isUsedPoints()}">
							<div th:case="true">
								<td th:text="${reservation.getReservationNumber()}"></td>
								<td th:text="${reservation.getUser().getUsername()}"></td>
								<td th:text="${#dates.format(reservation.timestampReceived, 'HH:mm')}"></td> 
								<!-- <td><span th:text="${#numbers.formatDecimal(reservation.getTotalPrice(), 1, 'POINT', 2, 'COMMA')}"> </span> &euro;</td> -->
								<td><span th:text="${#numbers.formatDecimal(reservation.getDonation(), 1, 'POINT', 2, 'COMMA')}"> </span> &euro;</td>
								<td><span th:text="${#numbers.formatDecimal(reservation.getDonation(), 1, 'POINT', 2, 'COMMA')}"> </span> &euro;</td> <!-- reservation.getDonation() + reservation.getTotalPrice() -->
								<td th:text="${#dates.format(reservation.collectTime, 'HH:mm')}"></td> 
								<!-- <td th:text="${reservation.isConfirmed()}"></td> -->
								<!-- <td th:text="${reservation.isUsedPoints()}" ></td> -->
								<td>
									<input type="hidden" th:field="*{reservations[__${stat.index}__].donation}"/>
									<input type="hidden" th:field="*{reservations[__${stat.index}__].totalPrice}"/>
									<input type="hidden" th:field="*{reservations[__${stat.index}__].usedPoints}"/>
									<button type="button" class="btn btn-success" th:onclick="'javascript:openReservationModal(\''+*{reservations[__${stat.index}__].id}+'\');'">
										<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
									</button>
									<button type="button" class="btn btn-success" th:onclick="'javascript:openStatusConfirmModal(\''+*{reservations[__${stat.index}__].id}+'\');'">
										<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
									</button>
									<button type="button" class="btn btn-success" th:onclick="'javascript:openStatusRejectModal(\''+*{reservations[__${stat.index}__].id}+'\');'">
										<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
									</button>
								</td>
							</div>
						<div th:case="false">
							<input type="hidden" th:field="*{reservations[__${stat.index}__].id}" /> 
							<input type="hidden" th:field="*{reservations[__${stat.index}__].confirmed}" /> 
							<input type="hidden" th:field="*{reservations[__${stat.index}__].donation}"/>
							<input type="hidden" th:field="*{reservations[__${stat.index}__].totalPrice}"/>
							<input type="hidden" th:field="*{reservations[__${stat.index}__].usedPoints}"/>
						</div>
						</div>
					</tr>
				</tbody>
			</table>
			</div>
			<input type="hidden"
				th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" />
				
			<div id="modalHolder">
		
			</div>
		</form>
	</div>
	
	<div th:fragment="reservationOfferTable" id="reservationModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
      			<div class="modal-header">
        			<button type="button" class="close" data-dismiss="modal">&times;</button>
        			<h4 class="modal-title" th:text="#{reservations.label.details}">Modal Header</h4>
      			</div>
      			<div class="modal-body">
      				<table class="table table-hover">
						<thead>
							<tr>
								<td th:text="#{reservations.label.food}"></td>
								<td th:text="#{reservations.label.amount}"></td>
							</tr>
						</thead>
						<tbody>
							<tr th:each="offer : ${offers}">
								<td th:text="${offer.offer.getTitle()}"></td>
								<td th:text="${offer.amount}"></td>
							</tr>
						</tbody>
					</table>
     		 	</div>
      			<div class="modal-footer">
        			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      			</div>
    		</div>
		</div>
	</div>

	<div th:fragment="reservationStatusReject" id="reservationStatusRejectModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<form id="reservationStatusRejectForm">
	      			<div class="modal-header">
	        			<button type="button" class="close" data-dismiss="modal">&times;</button>
	        			<h4 class="modal-title" th:text="#{reservations.label.statusReject}">Modal Header</h4>
	      			</div>
	      			<div class="modal-body">
	      				<span th:text="#{reservation.rejectmodal.description}"></span>
	      				<br /><br />
	      				<select name="rejectReason" id="rsrm_rsn">
			                <option th:each="status : ${statusList}"
	                        th:value="${status.id}" th:text="${status.status}">reson</option>
      					</select>
	      				<input type="hidden" id="rsrm_rid" name="reservationId" th:value="${reservationId}" /> 
	     		 	</div>
	     		 </form>
      			<div class="modal-footer">
        			<button type="button" class="btn btn-default" data-dismiss="modal" style="float: right; margin-right: 25px;" >Close</button>
      				<button type="button" class="btn btn-success" th:text="#{reservations.button.reject}" name="reject" th:onclick="'javascript:saveReservationStatusReject();'" style="float: right; margin-right: 25px;"></button>
      			</div>
    		</div>
		</div>
	</div>

	<div th:fragment="reservationStatusConfirmed" id="reservationStatusConfirmModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<form id="reservationStatusConfirmForm">
	      			<div class="modal-header">
	        			<button type="button" class="close" data-dismiss="modal">&times;</button>
	        			<h4 class="modal-title" th:text="#{reservations.label.statusConfirm}">Modal Header</h4>
	      			</div>
	      			<div class="modal-body">
	      				<span th:text="#{reservation.confirmmodal.retaurant}"></span><br />
      					<span th:text="${collectTime}"></span><br />
	      				<input type="hidden" id="rscm_rid" name="reservationId" th:value="${reservationId}" /> 
	     		 	</div>
				</form>
      			<div class="modal-footer">
        			<button type="button" class="btn btn-default" data-dismiss="modal" style="float: right; margin-right: 25px;" >Close</button>
      				<button type="button" class="btn btn-success" th:text="#{reservations.button.confirm}" name="reject" th:onclick="'javascript:saveReservationStatusConfirm();'" style="float: right; margin-right: 25px;"></button>
      			</div>
    		</div>
		</div>
	</div>

	<script th:inline="javascript" type="text/javascript">
		/*<![CDATA[*/
		var $rows = $('#reservationTable tbody tr');
		$('#searchReservationTable').keyup(
				function() {
					var val = '^(?=.*\\b'
							+ $.trim($(this).val()).split(/\s+/).join(
									'\\b)(?=.*\\b') + ').*$', reg = RegExp(val,
							'i'), text;

					$rows.show().filter(function() {
						text = $(this).text().replace(/\s+/g, ' ');
						return !reg.test(text);
					}).hide();
				});

		var $rows2 = $('#reservationTable2 tbody tr');
		$('#searchReservationTable2').keyup(
				function() {
					var val = '^(?=.*\\b'
							+ $.trim($(this).val()).split(/\s+/).join(
									'\\b)(?=.*\\b') + ').*$', reg = RegExp(val,
							'i'), text;

					$rows2.show().filter(function() {
						text = $(this).text().replace(/\s+/g, ' ');
						return !reg.test(text);
					}).hide();
				});
		/*]]>*/
	</script>
	
	<script th:inline="javascript" type="text/javascript">

	function openReservationModal(id) {
		
		$.ajax({
			url: "/reservations/details/"+id,
			success: function(data) {
				$("#modalHolder").html(data);
				$("#reservationModal").modal("show");
			}
		});
	}
	
	function openStatusRejectModal(id) {
		$.ajax({
			url: "/reservations/rejectModal/"+id,
			success: function(data) {
				$("#modalHolder").html(data);
				$("#reservationStatusRejectModal").modal("show");
			}
		});
	}

	function openStatusConfirmModal(id) {
		$.ajax({
			url: "/reservations/confirmModal/"+id,
			success: function(data) {
				$("#modalHolder").html(data);
				$("#reservationStatusConfirmModal").modal("show");
			}
		});
	}
	
	function saveReservationStatusReject(){
		reasonId = document.getElementById("rsrm_rsn").value;
		reservationId = document.getElementById("rsrm_rid").value;
		
		$.ajax({
			url: "/reservations/saveReservationStatusReject/"+reservationId+"/"+reasonId,
			success : function(data) {
	            location.reload();
	        },
	        error : function() {
	        	location.reload();
	        }
		});			
	}
	
	function saveReservationStatusConfirm(){
		reservationId = document.getElementById("rscm_rid").value;
		
		$.ajax({
			url: "/reservations/saveReservationStatusConfirm/"+reservationId,
			success : function(data) {
	            location.reload();
	        },
	        error : function() {
	        	location.reload();
	        }
		});			
	}

	</script>

	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>